<div class="menu">
  <nav class="menu__body">
    <ul class="menu__list">
      <li class="menu__item">
        <a class="menu__link" data-goto=".class-name" href="#">
          menu item
        </a>
      </li>
      <li class="menu__item">
        <a class="menu__link" data-goto=".class-name" href="#">
          menu item
        </a>
      </li>
      <li class="menu__item">
        <a class="menu__link" data-goto=".class-name" href="#">
          menu item
        </a>
      </li>
      <li class="menu__item">
        <a class="menu__link" data-goto=".class-name" href="#">
          menu item
        </a>
      </li>
      <li class="menu__item">
        <a class="menu__link" data-goto=".class-name" href="#">
          menu item
        </a>
      </li>
      <li class="menu__item">
        <a class="menu__link" data-goto=".class-name" href="#">
          menu item
        </a>
      </li>
    </ul>
  </nav>
  <div class="menu__btn">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>